body {
    background: #333;
    color: #ddd;
    font-family: monospace;
    font-size: 12px;
}
a {
    color: #1793d1;
    text-decoration: none;
    text-shadow: 1px 1px 3px #1793d1;
}
a:hover
{
    text-decoration: underline;
}
b {
    color: white;
}
